<div class="vc-reaction-bar">
  <div class="vc-reaction-bar__actions {% if reaction.question %}vc-reaction-bar__actions--has-question{% endif %}">
    {% if reaction.question %}
      <span class="vc-reaction-bar__question">{{ reaction.question }}</span>
    {% endif %}
    <div class="vc-reaction-bar__emojis">
      <button aria-expanded="false" class="vc-reaction-bar__emojis-button" type="button">
        <span class="visually-hidden">Add Reaction</span>
        {% include "@base/icons/icon-reaction-button.svg" %}
      </button>
      <div class="vc-reaction-bar__emojis-dropdown" hidden>
        <span class="vc-reaction-bar__emojis-icon" role="button">
          {{ emoji_1 }}
        </span>
        <span class="vc-reaction-bar__emojis-icon" role="button">
          {{ emoji_2 }}
        </span>
        <span class="vc-reaction-bar__emojis-icon" role="button">
          {{ emoji_3 }}
        </span>
        <span class="vc-reaction-bar__emojis-icon" role="button">
          {{ emoji_4 }}
        </span>
        <span class="vc-reaction-bar__emojis-icon" role="button">
          {{ emoji_5 }}
        </span>
      </div>
    </div>
  </div>
  {% if reaction.total %}
    <div class="vc-reaction-bar__total">
      <div class="vc-reaction-bar__emojis-selected">
        {% for item in reaction.selected %}
          {{ attribute(_context, 'emoji_'~item) }}
        {% endfor %}
      </div>
      <span class="vc-reaction-bar__total-label">{{ reaction.total }}
      Reaction{% if reaction.total > 1 %}s{% endif %}</span>
    </div>
  {% endif %}
</div>
