{% set teaserSize = teaser.size ? "joe__article-teaser--" ~ teaser.size : "" %}
{% set teaserStyle =  teaser.style ? "joe__article-teaser--" ~ teaser.style : "" %}


<article class="joe__article-teaser {{ teaserSize }} {{teaserStyle}}">
  {% if teaser.image %}
  <a href="{{teaser.title.href}}" class="joe__article-teaser__image">
    {% set image = teaser.image %}
    {% include "@atoms/image.twig" %}
  </a>
  {% endif %}
  <div class="joe__article-teaser__block">
    {% set flag = teaser.flag %}
    {% include "@atoms/flag.twig" %}
    {% set link = teaser.title %}
    <h2 class="joe__article-teaser__title">{% include "@atoms/link.twig" %}</h2>
    <span class="joe__article-teaser__meta">
      {% for author in teaser.authors %}
        {% if loop.length == 1 %}
          {{ author.name }}
        {% elseif loop.length == 2 %}
          {% if loop.last %}
          and {{ author.name }}
          {% else %}
            {{ author.name }} 
          {% endif %}
        {% else %}   
          {% if loop.last %}
            and {{ author.name }}
          {% else %}
            {{ author.name }}, 
          {% endif %}
        {% endif %}
      {% endfor %}
    </span>
  </div>
</article>
