<header class="joe__issue-header">
  <span class="joe__issue-header__date">{{issue.date}}</span>

  <h1 class="joe__issue-header__title">{{ issue.title }}</h1>
  {% if issue.description %}
  <div class="joe__issue-header__desc">
    {{ issue.description }}
  </div>
  {% endif %}
  
  <div class="joe__issue-header__meta">
    {{ issue.volume }}, {{ issue.number }}: {{ issue.issn }}
  </div>
</header>
