<div class="joe__references">
  {% include "@atoms/title-label.twig" with { "title_label": {"level" : "3", "text" : "References" } } %}
  
  <ol class="joe__references__list">
    {% for reference in references %}
      <li id="reference_{{ number }}" class="joe__references__item">
        {{reference.text}}
        {% if reference.links %}
        <div class="joe__references__item-links">
          {% for link in reference.links %}
            <a title="View on {{link.text}}" href="{{ link.url }}">{{link.text}}</a>
          {% endfor %}
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
