<div class="joe__references">
  {% include "@atoms/title-label.twig" with { "title_label": {"level" : "3", "text" : "References" } } %}
  
  <ol class="joe__references__list">
    {% for reference in references %}
      <li id="reference_{{ number }}" class="joe__references__item">
        {{reference.text}}
        <div class="joe__references__item-links">
          {% if reference.google_scholar %}
            <a title="View on Google Scholar" href="{{ reference.google_scholar }}">Google Scholar</a>
          {% endif %}
          {% if reference.pubmed %}
            <a title="View on PubMed" href="{{ reference.pubmed }}">PubMed</a>
          {% endif %}
          {% if reference.crossref %}
            <a title="View on Crossref" href="{{ reference.crossref }}">Crossref</a>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
