{% if layout_fullwidth %}
  <div class="c-paragraph c-paragraph--type-one-column-full-width c-paragraph--view-mode-default">
    <div class="layout layout--onecol-fullwidth">
      <div class="layout__region layout__region--top">
        {% if layout_heading %}
          <h2 class="layout__heading {% if layout_heading_centered %}layout__heading--centered{% endif %}">{{ layout_heading }}</h2>
        {% endif %}
      </div>
      <div class="layout__region layout__region--bottom">
        {% block layout_bottom %}
          {% set placeholder = layout_bottom.placeholder %}
          {% include '@base/placeholder.twig' %}
        {% endblock %}
      </div>
    </div>
  </div>
{% elseif layout_centered %}
  <div class="c-paragraph c-paragraph--type-one-column-centered c-paragraph--view-mode-default">
    <div class="layout layout--onecol-centered">
      <div class="layout__region layout__region--top">
        {% if layout_heading %}
          <h2 class="layout__heading {% if layout_heading_centered %}layout__heading--centered{% endif %}">{{ layout_heading }}</h2>
        {% endif %}
      </div>
      <div class="layout__region layout__region--bottom">
        {{ block('layout_bottom') }}
      </div>
    </div>
  </div>
{% elseif layout_equal_col %}
  <div class="c-paragraph c-paragraph--type-two-columns-equal c-paragraph--view-mode-default">
    <div class="layout layout--twocol-equal">
      <div class="layout__region layout__region--top">
        {% if layout_heading %}
          <h2 class="layout__heading {% if layout_heading_centered %}layout__heading--centered{% endif %}">{{ layout_heading }}</h2>
        {% endif %}
      </div>
      <div class="layout__region layout__region--first">
        {% block layout_first %}
          {% set placeholder = layout_first.placeholder %}
          {% include '@base/placeholder.twig' %}
        {% endblock %}
      </div>
      <div class="layout__region layout__region--second">
        {% block layout_second %}
          {% set placeholder = layout_second.placeholder %}
          {% include '@base/placeholder.twig' %}
        {% endblock %}
      </div>
    </div>
  </div>
{% elseif layout_larger_left_col %}
  <div class="c-paragraph c-paragraph--type-two-columns-larger-left-column c-paragraph--view-mode-default">
    <div class="layout layout--twocol-larger-left-col">
      <div class="layout__region layout__region--top">
        {% if layout_heading %}
          <h2 class="layout__heading {% if layout_heading_centered %}layout__heading--centered{% endif %}">{{ layout_heading }}</h2>
        {% endif %}
      </div>
      <div class="layout__region layout__region--first">
        {{ block('layout_first') }}
      </div>
      <div class="layout__region layout__region--second">
        {{ block('layout_second') }}
      </div>
    </div>
  </div>
{% elseif layout_larger_right_col %}
  <div class="c-paragraph c-paragraph--type-two-columns-larger-right-column c-paragraph--view-mode-default">
    <div class="layout layout--twocol-larger-right-col">
      <div class="layout__region layout__region--top">
        {% if layout_heading %}
          <h2 class="layout__heading {% if layout_heading_centered %}layout__heading--centered{% endif %}">{{ layout_heading }}</h2>
        {% endif %}
      </div>
      <div class="layout__region layout__region--first">
        {{ block('layout_first') }}
      </div>
      <div class="layout__region layout__region--second">
        {{ block('layout_second') }}
      </div>
    </div>
  </div>
{% endif %}
