<article class="joe__issue-teaser--current">
  <div class="joe__issue-teaser--left">
    <span class="joe__flag joe__flag--larger"><div class="joe__flag__type">{{current_issue.date}}</div> Current Issue</span>
    {% set link = current_issue.title %}
    <h{{ current_issue.level }} class="joe__issue-teaser__title">{% include "@atoms/link.twig" %}</h{{ current_issue.level }}>
    <div class="joe__issue-teaser__desc">
      {{ current_issue.description }}
    </div>
    <div class="joe__issue-teaser__meta">
      {{ current_issue.number }}
    </div>
    {% include "@atoms/link.twig" with { "link": {"text" : "Read the Issue", "href" : "#", "class" : "joe__issue-teaser__link" } } %}
  </div>
  <div class="joe__issue-teaser--right">
    <ul class="joe__issue-teaser__list">
    {# No images, no date in flag #}
    {% for article in current_issue.articles %} 
      <li>
        {% set teaser = article %}
        {% include '@molecules/article-teaser.twig' %}
      </li>
    {% endfor %}
    </ul>
  </div>
</article>
