{% set buttonSize = button.size ? "joe__button--" ~ button.size : "" %}
{% set buttonStyle =  button.style ? "joe__button--" ~ button.style : "" %}

{% if button.href %}
  <a href="{{ button.href }}" 
     class="{{ buttonSize }} {{buttonStyle}}"
     title="{{ button.info }}">
      {{ button.text }}
  </a>
{% else %}
  <button type="{{ button.type }}"
          class="{{ buttonSize }} {{buttonStyle}}"
          aria-label="{{ button.info }}">
    {{ button.text }}
  </button>
{% endif %}
