<a
  href="{{ link.href }}"
  {% if link.class %}class="{{ link.class }}"{% endif %}
  {% if link.title %}title="{{ link.title }}"{% endif %}
  {% if link.target %}target="{{ link.target }}"{% endif %}>{{ link.text }}</a>
