{% set teaserSize = teaser.size ? "joe__article-teaser--" ~ teaser.size : "" %}
{% set teaserStyle =  teaser.style ? "joe__article-teaser--" ~ teaser.style : "" %}


<article class="joe__article-teaser {{ teaserSize }} {{teaserStyle}}">
  {% if teaser.image %}
  <a href="{{teaser.title.href}}" class="joe__article-teaser__image">
    {% set image = teaser.image %}
    {% include "@atoms/image.twig" %}
  </a>
  {% endif %}
  <div class="joe__article-teaser__block">
    {% set flag = teaser.flag %}
    {% include "@atoms/flag.twig" %}
    {% set link = teaser.title %}
    <h2>{% include "@atoms/link.twig" %}</h2>
    <span>
      {% for author in teaser.authors %}
        {% if loop.last %}
          and {{ author.name }}
        {% else %}
          {{ author.name }}, 
        {% endif %}
      {% endfor %}
    </span>
  </div>
</article>
