{% set buttonSize = button.size ? "joe__button--" ~ button.size : "" %}
{% set buttonStyle =  button.style ? "joe__button--" ~ button.style : "" %}

{% if button.href %}
  <a href="{{ button.href }}" 
     class="joe__button {{ buttonSize }} {{buttonStyle}}"
     {% if button.info %}title="{{ button.info }}"{% endif %}>
      {{ button.text }}
  </a>
{% else %}
  <button type="{{ button.type }}"
          class="{{ buttonSize }} {{buttonStyle}} {{ button.class }}"
          aria-label="{{ button.info }}" 
          {% if button.control_id %}aria-controls="#{{button.control_id}}"{% endif %}
          {% if button.id %}id="{{button.id}}"{% endif %} >
    {{ button.text }}
  </button>
{% endif %}
